body {
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
  height: 100vh;
  margin: 0;
}

label {
  font-size: 2em;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25%;
  margin-bottom: 20px;
}

#transformed-word {
  font-size: 2em;
  font-weight: bold;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}