body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25% !important;
  margin-bottom: 20px;
}

#transformed-word {
  font-size: 1.2em;
  font-weight: bold;
}